@import url('https://fonts.googleapis.com/css?family=Playball');

body {
    font-family: 'Playball', cursive;
    padding: 25px;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
    background-color: #dddddd;
}

div {
    padding: 10px;
    min-height: 150px;
    background-color: #888888;
    color: #cccccc;
    border: 1px solid #000000;
}

.red {
    background-color: #ff0000;
}

.double {
    grid-column: span 2;
}